/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

body{

    font-family: 'Inter', sans-serif;
    background:#F7F7F7;
    color:white;

}


/* ==========================================
   NAV BAR SECTION
========================================== */


.custom-navbar{

    background:white;
    padding:10px 0;

    border-bottom:1px solid rgba(0,0,0,.05);
    box-shadow:0 10px 24px rgba(0,0,0,.45);

}

.navbar-nav{

    margin-left:auto;

}

/* Logo */

.logo-circle{

    width:45px;
    height:45px;

    border-radius:50%;

    background: #333333;

    display:flex;
    justify-content:center;
    align-items:center;

    color:white;
    font-size:18px;
    font-weight:700;

}

.logo-text{

    color: #333333;
    font-size:1.3rem;
    font-weight:700;

}


/* Navigation */

.nav-link{

    color:#94A3B8;
    font-weight:500;
    transition:.3s;

}

.nav-link:hover{

    color:#333333;

}

.nav-link.active{

    color:#333333;

}


/* Resume Button */

.resume-btn{

    background: #FFD43B;
    color:#333333;

    padding:3px 15px;

    border-radius:10px;

    font-weight:600;

    transition:.3s;

    margin-left: 40px;

}

.resume-btn:hover{

    background:white;
    color:#333333;
    border-color: black;

}


/* Mobile */

.navbar-toggler{

    background:white;
    border-radius:8px;

}


/* ==========================================
   HERO SECTION
========================================== */


/*BINARY CANVAS*/
#binaryCanvas{

    position:absolute;

    inset:0;

    width:100%;
    height:100%;

    z-index:0;

}


.hero{

    position: relative;

    padding: 120px 0 80px;

    min-height: 100vh;

    background: #111111;

    overflow: hidden;

}

.hero .container{

    position:relative;

    z-index:2;

}

.hero::before{

    content: "";

    position: absolute;

    inset: 0;

    background: rgba(17,17,17,0.35);

    z-index: 1;

}


.hero-tag{

    display:inline-block;

    background:#F7F7F7;

    color:#333333;

    padding:10px 18px;

    border-radius:30px;

    font-size:.9rem;

    font-weight:700;

}


.hero-title{

    font-size:4rem;

    font-weight:800;

    color: #E5E7EB;

}

.highlight-text{
    color: #FFD43B;
}

.hero-subtitle{

    font-size:1.8rem;

    font-weight:600;

    color:#FFFFFF;

    margin-bottom:25px;

}


.hero-description{

    line-height:1.9;

    font-size:1.08rem;

    max-width:550px;

     font-weight: 400;

    color: #E5E7EB;

}


.hero-buttons{

    margin-top:40px;

    display:flex;

    gap:20px;

    align-items:center;



}


.custom-btn{

    padding:14px 34px;

    border-radius:12px;

    font-weight:600;

    border-width: 3px;


}


.hero-socials{

    display:flex;

    align-items:center;

    gap:15px;

    margin-left:10px;

    height:100%;

}

.hero-socials{

    display:flex;

    align-items:center;

    gap:15px;

    margin-left:25px;

}

.hero-socials a{

    width:48px;
    height:48px;

    display:flex;

    justify-content:center;
    align-items:center;

    border-radius:50%;

    background:#FFD43B;

    color:#333333;

    text-decoration:none;

    font-size:20px;

    line-height:1;

    border:1px solid rgba(255,255,255,.08);

    transition:.3s;

}

.hero-socials a:hover{

    background:#FFD43B;

    color:#fff;

    transform:translateY(-3px);

}


.hero-image{

    width:420px;

    height:420px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid rgba(255, 255, 255, 0.08);

    box-shadow:
    0 0 0 10px rgba(37,99,235,.12),
    0 25px 60px rgba(0,0,0,.45);

    filter: grayscale(100%) contrast(125%) brightness(90%);

    transform: rotate(8deg);

}

