{% include "header.html" %}   <!-- jinja template for header-->

<!-- Page Header-->
<header>

    <section id="about-me" class="hero">

        <!-- Animated Binary Background -->
        <canvas id="binaryCanvas"></canvas>

        <div class="container">


            <div class="row ">

                <div class="offset-xl-1">

                    <div class="parent-tag-about-me px-xl-0 px-lg-0 px-md-0 px-sm-0 px-2">
                        <div class="pb-2">
                            <h1 class="about-text">About <span class="Me-text"> Me</span></h1>
                        </div>
                        <p class="aboutme-pg">Hi I'm Ashish Bamniya, a Computer Science Engineering graduate based in
                            India. After graduation, I worked as an E-commerce Executive for two years, where I
                            developed strong analytical thinking, attention to detail, and problem-solving skills.</p>

                        <p class="aboutme-pg">Motivated by my passion for technology and my engineering background, I
                            transitioned into software development through continuous learning and hands-on practice.
                            Since then, I've built 100 projects using Python, Flask, REST APIs, automation, gaining
                            hands-on experience in building backend applications and practical software solutions. and
                            I'm now seeking opportunities to begin my career in QA Automation and software
                            development.</p>

                        <div class="pt-2">
                            <p class="aboutme-non-highlight-text"><span class=aboutme-highlight-text>100/</span>
                                Projects</p>
                            <p class="aboutme-non-highlight-text"><span class=aboutme-highlight-text>Self-Taught/</span>
                                Developer</p>
                            <p class="aboutme-non-highlight-text"><span class=aboutme-highlight-text>Open to/</span> QA
                                Automation & Software Development Roles</p>
                        </div>

                    </div>


                </div>


            </div>

        </div>

    </section>


</header>


<!-- main content-->
<main>


    <section class="about-me-main">


        <div class="container">

            <h2 class="title-professional-journey mb-5">My Professional Journey</h2>


            <div class="row">


                <div class="col">

                    <div class="d-flex mb-5">
                        <div class="icon-design">
                            <i class="bi-briefcase-fill briefcase-icon "></i>
                        </div>

                        <div class="job-details">
                            <div class = "d-flex justify-content-between align-items-center mb-3">
                                <h5 class="job-title flex-grow-1">E-commerce Executive</h5>
                                <h6 class="job-period-date-1 text-nowrap ms-3">Dec 2024 – Dec 2025 </h6>
                            </div>
                            <h6 class="organization-name">Kikibix Foods</h6>
                            <h6>Hyderabad, Telangana India</h6>
                            <h6 class="mobile-date text-nowrap ms-3">Aug 2023 – Aug 2024</h6>
                            <p class="job-description">Worked as an E-commerce Executive, managed marketplace operations with a focus on
                                inventory planning, product listing optimization, pricing strategy, and sales
                                performance analysis. Leveraged data-driven decision-making to improve product
                                visibility, optimize stock levels, and deliver actionable business insights through
                                performance reporting.</p>
                        </div>

                    </div>


                    <div class="d-flex mb-5">

                        <div class="icon-design">
                            <i class="bi-briefcase-fill briefcase-icon "></i>
                        </div>

                        <div class="job-details">
                            <div class = "d-flex justify-content-between align-items-center mb-3">
                                <h5 class="job-title flex-grow-1">E-commerce Associate</h5>
                                <h6 class="job-period-date-2 text-nowrap ms-3">Aug 2023 – Aug 2024</h6>
                            </div>

                            <h6 class="organization-name">Ambriona Cacao Blends Pvt Ltd</h6>
                            <h6>Mumbai, Maharashtra, India</h6>
                             <h6 class="mobile-date text-nowrap ms-3">Aug 2023 – Aug 2024</h6>

                            <p class="job-description ">Worked as an E-commerce Associate at Ambriona Cacao Blends Pvt. Ltd., managed more than
                                10
                                Ecommerce marketplaces their. Gained hands-on experience in inventory management, SEO
                                optimization, seller support, and digital advertising. Collaborated across teams to
                                improve
                                product visibility, streamline operations, and support business growth through
                                data-driven
                                decision-making.</p>
                        </div>

                    </div>


                    <div class="d-flex mb-5">

                        <div class="icon-design">
                            <i class="bi-mortarboard-fill mortarboard-icon "></i>
                        </div>

                        <div class="educational-details">
                            <div class = "d-flex justify-content-between align-items-center mb-3">
                                     <h5 class="degree-title flex-grow-1">Bachelor of Technology in Computer Science</h5>
                                    <h6 class="education-period-date text-nowrap ms-3">Graduation: 2023</h6>
                            </div>

                            <h6 class="organization-name">Rajiv Gandhi Proudyogiki Vishwavidyalaya</h6>
                            <h6 class="mobile-date text-nowrap ms-3">Graduation: 2023</h6>
                            <h6>CGPA: 8.09</h6>
                            <p class="education-description">Completed a Bachelor of Technology (B.Tech) in Computer Science with a CGPA of 8.09 from
                                Rajiv Gandhi Proudyogiki Vishwavidyalaya (RGPV) in 2023. After graduation, I worked in
                                the
                                eCommerce industry before pursuing a focused learning journey to transition into
                                software
                                engineering through practical, project-based development.</p>
                        </div>

                    </div>


                </div>


            </div>

        </div>

    </section>


</main>


{% include "footer.html" %}     <!-- jinja template for footer-->