{% include "header.html" %}   <!-- jinja template for header-->

<!-- Page Header-->
<header>

    <section id="home" class="hero">

        <!-- Animated Binary Background -->
        <canvas id="binaryCanvas"></canvas>

        <div class = "container">


            <div class = "row ">

                <div class = "offset-xl-1">

                    <div class = "parent-tag-about-me">
                        <div class = "pb-2">
                        <h1 class = "about-text">About <span class="Me-text" > Me</span></h1>
                        </div>
                        <p class = "aboutme-pg">Hi I'm Ashish Bamniya, a Computer Science Engineering graduate based in India. After graduation, I worked as an E-commerce Executive for two years, where I developed strong analytical thinking, attention to detail, and problem-solving skills.</p>

                        <p class = "aboutme-pg">Motivated by my passion for technology and my engineering background, I transitioned into software development through continuous learning and hands-on practice. Since then, I've built 100 projects using Python, Flask, REST APIs, automation, gaining hands-on experience in building backend applications and practical software solutions. and I'm now seeking opportunities to begin my career in QA Automation and software development.</p>

                        <div class = "pt-2">
                            <p class = "aboutme-non-highlight-text"><span class = aboutme-highlight-text>100/</span> Projects</p>
                            <p class = "aboutme-non-highlight-text"><span class = aboutme-highlight-text>Self-Taught/</span> Developer</p>
                            <p class = "aboutme-non-highlight-text"><span class = aboutme-highlight-text>Open to/</span> QA Automation & Software Development Roles</p>
                        </div>

                    </div>


                </div>


            </div>

        </div>

    </section>


</header>


<!-- main content-->
<main>


</main>


{% include "footer.html" %}     <!-- jinja template for footer-->