{% include "header.html" %}   <!-- jinja template for header-->

<!-- ================= NAV BAR SECTION ================= -->

<nav class="navbar navbar-expand-lg fixed-top custom-navbar">

    <div class="container d-flex align-items-center justify-content-between">

        <!-- Logo -->

        <a class="navbar-brand d-flex align-items-center" href="#">

            <div class="logo-circle">
                A
            </div>

            <span class="logo-text ms-2">
                Ashish
            </span>

            <div class="d-flex align-items-center"></div>

        </a>

        <div class="d-flex align-items-center">


            <!-- Mobile Toggle -->

            <button class="navbar-toggler border-0 shadow-none"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarMenu">

                <span class="navbar-toggler-icon"></span>


            </button>


        </div>


        <!-- Navigation -->

        <div class="collapse navbar-collapse ms-auto" id="navbarMenu">

            <ul class="navbar-nav gap-lg-4">

                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#projects">
                        Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#about">
                        About Me
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact">
                        Contact
                    </a>
                </li>


                <li class="nav-item">
                    <a href="resume button" class="btn resume-btn d-lg-inline-block">

                        Resume

                    </a>
                </li>

            </ul>

        </div>


        <!-- Resume Button -->


    </div>

</nav>

<!-- ================= NAV Bar SECTION ================= -->

<!-- ================= HERO SECTION ================= -->

<section id="home" class="hero">

    <!-- Animated Binary Background -->
    <canvas id="binaryCanvas"></canvas>


    <!-- ADD THIS: Faded overlay for the vignette effect -->
    <div class="fade-overlay"></div>

    <div class="container">

        <div class="row align-items-center gx-5 gy-5 mt-4">

            <!-- Left Side -->

            <div class="col-md-6 col-lg-6 hero-section">

                    <span class="hero-tag">
                        👋 Welcome to my Portfolio
                    </span>

                <h1 class="hero-title mt-4">

                    Hi, I'm <span class="highlight-text">Ashish</span>

                </h1>

                <h2 class="hero-subtitle">

                    Python Developer specializing in
                    Automation & Web Development

                </h2>

                <p class="hero-description">

                    Passionate about building efficient, scalable and user-friendly applications. I enjoy
                    Automation,
                    learning new technologies.

                </p>

                <div class="hero-buttons">

                    <a href="#projects" class="btn btn-outline-light custom-btn view-my-work">

                        View My Work

                    </a>

                    <a href="#" class="btn btn-outline-light custom-btn contact-me">

                        Contact Me

                    </a>

                    <div class="hero-socials">

                        <a href="https://github.com/yourusername" target="_blank">
                            <i class="bi bi-github"></i>
                        </a>

                        <a href="https://linkedin.com/in/yourusername" target="_blank">
                            <i class="bi bi-linkedin"></i>
                        </a>

                        <a href="mailto:your@email.com">
                            <i class="bi bi-envelope-fill"></i>
                        </a>

                    </div>


                </div>

            </div>
            <!-- Right Side -->

            <div class="col-md-6 col-lg-6 d-flex justify-content-center align-items-center hero-image-column">

                <div class='hero-image-wrapper'>
                    <img src="static/assets/img/hero2_img.png"
                         alt="Profile"
                         class="hero-image">
                </div>


            </div>

        </div>


        <div class='highlight-container'>

            <div class="row row-cols-lg-5">

                <div class="col-md-4 col-sm-4 order-lg-1 order-md-1 order-sm-1 order-1">
                    <div class=" highlight-items projects-100">
                        <span><i class='bi-star highlights-icon'></i></span>
                        <span class='text-center  highlights-text'>100 Projects</span>

                    </div>
                </div>


                <div class="col-md-4 col-sm-4 order-lg-2 order-md-3 order-sm-3 order-3">
                    <div class="highlight-items lifelong-learner">
                        <span><i class='bi-book highlights-icon'></i></span>
                        <span class='text-center  highlights-text'>Lifelong learner</span>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 order-lg-3 order-md-2 order-sm-2 order-5">
                    <div class="highlight-items self-taught-dev">
                        <span><i class='bi-journal-code highlights-icon'></i></span>
                        <span class='text-center  highlights-text'>Self-Taught Developer</span>

                    </div>
                </div>


                <div class="col-md-6 col-sm-4 order-lg-4 order-md-4 order-sm-4 order-4">
                    <div class="highlight-items career-switcher">
                        <span><i class='bi-box-arrow-up-right highlights-icon '></i></span>
                        <span class='text-center  highlights-text'>Career Switcher</span>

                    </div>
                </div>


                <div class="col-md-6 col-sm-4 order-lg-5 order-md-5 order-sm-5 order-2">
                    <div class="highlight-items open-to-work">
                        <span><i class='bi-briefcase highlights-icon'></i></span>
                        <span class='text-center highlights-text'>Open to Work</span>

                    </div>
                </div>

            </div>


        </div>


    </div>


</section>

<!-- ================= HERO SECTION ================= -->

<!-- ================= PROJECT SECTION ================= -->

<section class="featured-project">

    <div class="container">
        <h2 class="title-featured-projects">Featured Projects</h2>
        <p class="description-featured-projects">Here are some of the projects I've worked on, showcasing my skills in
            various technologies and problem
            domains.</p>


        <div class="row">
            <div class=" col-lg-4">

                <div class="card featured-project-cards gx-5">
                    <img src="static/assets/img/blog-website.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Secure Blog Platform</h5>
                        <p class="card-text">A full-featured blogging platform with secure authentication, role-based
                            admin controls, rich text editing, and an interactive commenting system.</p>
                        <span class="badge rounded-pill me-2 mb-2">Python</span>
                        <span class="badge rounded-pill me-2 mb-2">Flask</span>
                        <span class="badge rounded-pill me-2 mb-2">HTML5</span>
                        <span class="badge rounded-pill me-2 mb-2">CSS3</span>
                        <span class="badge rounded-pill me-2 mb-2">Bootstrap</span>
                        <span class="badge rounded-pill me-2 mb-2">SQLAlchemy</span>
                        <span class="badge rounded-pill me-2 mb-4">SQLite</span>
                        <br>
                        <a href="#" class="btn btn-primary featured-github-button"><i class="bi bi-github me-1"></i>
                            Github</a>
                    </div>


                </div>


            </div>


            <div class=" col-lg-4">

                <div class="card featured-project-cards gx-5">
                    <img src="static/assets/img/data-entry-web-scrapping.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Web Scrapping Data Entry</h5>
                        <p class="card-text">Automates rental property data collection by scraping Zillow listings and
                            seamlessly submitting them to Google Forms using BeautifulSoup and Selenium.</p>
                        <span class="badge rounded-pill me-2 mb-2">Python</span>
                        <span class="badge rounded-pill me-2 mb-2">BeautifulSoup</span>
                        <span class="badge rounded-pill me-2 mb-2">Selenium</span>
                        <span class="badge rounded-pill me-2 mb-2">ChromeDriver</span>
                        <span class="badge rounded-pill me-1 mb-2">Web Scraping</span>
                        <span class="badge rounded-pill me-1 mb-4">Google Forms</span>
                        <br>
                        <a href="#" class="btn btn-primary featured-github-button"><i class="bi bi-github me-1"></i>Github</a>
                    </div>


                </div>


            </div>


            <div class=" col-lg-4">

                <div class="card featured-project-cards gx-5">
                    <img src="static/assets/img/stock-news-alert-bot.png" class="card-img-top" alt="...">

                    <div class="card-body">
                        <h5 class="card-title">Stock Market News Alert Bot</h5>
                        <p class="card-text">Monitors significant stock price movements and delivers real-time Telegram
                            alerts enriched with relevant financial news using multiple APIs.</p>
                        <span class="badge rounded-pill me-2 mb-2">Python</span>
                        <span class="badge rounded-pill me-2 mb-2">REST APIs</span>
                        <span class="badge rounded-pill me-2 mb-2">Automation</span>
                        <span class="badge rounded-pill me-2 mb-2">JSON</span>
                        <span class="badge rounded-pill me-2 mb-2">NewsAPI</span>
                        <span class="badge rounded-pill me-2 mb-4">Telegram Bot API</span>
                        <br>
                        <a href="#" class="btn btn-primary featured-github-button"><i class="bi bi-github me-1"></i>Github</a>
                    </div>


                </div>


            </div>

            <div class="parent-show-more-projects-btn">
                <div class="text-center">
                    <a href="#" class="btn btn-primary show-more-projects-btn">Show more projects<i
                            class="bi bi-code show-more-code-icon"></i></a>
                </div>
            </div>


        </div>


    </div>


</section>

<!-- ================= PROJECT SECTION ================= -->

<!-- ================= GITHUB CONTRIBUTION SECTION ================= -->

<section>

    <div class="container">

        <h2 class="github-graph">GitHub Activity</h2>

        <div class="graph-container-grid">

            {% for week in range(num_of_weeks) %}
            {% for graph in contribution_graph[week]["contributionDays"] %}

            {% if graph.color == "#ebedf0": %}
            <div class="contribution-none"></div>

            {% elif graph.color == "#216e39": %}
            <div class="contribution-low"></div>

            {% elif graph.color == "#9be9a8": %}
            <div class="contribution-medium"></div>

            {% elif graph.color == "#40c463": %}
            <div class="contribution-high"></div>

            {% elif graph.color == "#30a14e": %}
            <div class="contribution-max"></div>

            {% endif %}

            {% endfor %}
            {% endfor %}

        </div>

    </div>


</section>


<!-- ================= GITHUB CONTRIBUTION SECTION ================= -->


<!-- Tech Stack -->
<!-- Contact -->


{% include "footer.html" %}     <!-- jinja template for footer-->